@media screen and (min-width:375px){
    
    .navigation{
        display: flex;
        width: 375px;
        height: 48px;
        padding: 4px 24px 4px 12px;
        align-items: flex-start;
        gap: 199px;
        flex-shrink: 0;
        }
    
    .desktop-nav-list{
        display: none;
    }
        
        
        .MyLogo{
            display: flex;
            align-items: center;
        padding: 10px 12px;
        color: var(--primary-b-400, #6070FF);
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        }
        
        .header-introduction{
        display: inline-flex;
        padding: 114px 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        background-image: url("backgroud.jpg");
        }
        
        .header-name{
            display: flex;
            width: 300px;
            height: 150px;
            flex-direction: column;
            justify-content: center;
            color: var(--neutrals-n-800, #172B4D);
        
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 52px;
            ;
        }
        .header-detail{
            width: 300px;
            height: 146px;
            color: var(--neutrals-n-600, #344563);
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        }
        p{
            color: var(--primary-b-300, #7F8CFF);
        
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        }
        .header-socialMediaIcons{
            width: 170.167px;
            height: 20px;
        }
        
        
        
    /* WORK + ABOUT MYSELF SECTION */
    
    .Desktop-workCards{
        display: none;
    }
    .Mobile-workCards{
        display: inline-flex;
        padding: 114px 24px;
        flex-direction: column;
        align-items: center;
        gap: 88px;
        }
        
        .card{
        display: flex;
        padding: 16px;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        border-radius: 16px;
        border: 1px solid var(--neutrals-n-40, #DFE1E6);
        background: var(--neutrals-n-0, #FFF);
        }
        .primarytext{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        }
        .heading{
        width: 295px;
        height: 36px;
        color: var(--neutrals-n-800, #172B4D);
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 44px;
        }
        .list{
            display: flex;
        align-items: center;
        gap: 12px;
        }
        #l1{
            display: flex;
        padding: 8px 0px;
        align-items: center;
        color: var(--neutrals-n-600, #344563);
        
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px;
        }
        #l2{
        display: flex;
        align-items: center;
        gap: 12px;
        
        }
        #l3{
            display: flex;
        padding: 8px 0px;
        align-items: center;
        color: var(--neutrals-n-100, #7A869A);
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px;
        }
        
        .work-description{
            width: 295px;
        height: 76px;
        color: var(--neutrals-n-600, #344563);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        }
        .work-language{
            display: flex;
            width: 295px;
        }
        .work-lang{
            display: flex;
        padding: 4px 12px;
        align-items: center;
        border-radius: 8px;
        background: var(--primary-b-50, #EBEBFF);
        color: var(--primary-b-400, #6070FF);
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0.36px;
        }
        .outerbutton{
            display: flex;
        padding: 12px 169px 12px 0px;
        align-items: center;
        }
        .button{
            display: flex;
            padding: 12px;
            align-items: center;
            gap: 10px;
            border-radius: 8px;
        border: 1px solid var(--primary-b-400, #6070FF);
        color: var(--primary-b-500, #396DF2);
        text-align: center;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.51px;
        }
    
    
        /* ABOUT MYSELF */
    
        .abtMySelf{
            display: inline-flex;
        padding: 114px 24px;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        }
        .top{
            display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        }
        .about-heading{
            display: flex;
        width: 327px;
        height: 35px;
        flex-direction: column;
        justify-content: center;
        color: var(--neutrals-n-800, #172B4D);
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 52px;
        }
        .about-description{
            width: 327px;
        height: 147px;
        color: var(--neutrals-n-600, #344563);
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        }
        .about-connection{
            display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        }
        .about-connect{
            color: var(--primary-b-300, #7F8CFF);
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        }
        .about-button{
            display: flex;
        padding: 12px;
        align-items: center;
        gap: 10px;
        border-radius: 8px;
        border: 1px solid var(--primary-b-400, #6070FF);
        color: var(--primary-b-500, #396DF2);
        text-align: center;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.51px;
        }
        .about-languages{
            display: flex;
        padding: 16px 26px 16px 12px;
        align-items: center;
        gap: 12px;
        }
        .word{
            width: 237px;
            color: #000;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        }
        .languageList{
            display: flex;
        padding: 12px;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        }
        .about-lang{
            display: flex;
        width: 303px;
        padding: 9px 12px 9.716px 12px;
        justify-content: center;
        align-items: center;
        gap: 16px;
        border-radius: 8px;
        background: var(--neutrals-n-10, #F7F7F9);
        }
        .icon{
            width: 48px;
        height: 48px;
        flex-shrink: 0;
        border-radius: 48px;
        border: 1px solid var(--neutrals-n-0, #FFF);
        background: url(<path-to-image>), lightgray 50% / cover no-repeat;
        }
        .names{
            display: flex;
        width: 215px;
        height: 24px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: var(--neutrals-n-700, #253858);
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        }
        .otherOptions{
            display: flex;
            width: 327px;
            height: 72px;
        }
        .words{
            display: flex;
            width: 237px;
            color:#000;
            font-size: 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 500;
            font-style: normal;
            line-height: 24px;
        }
        
        
    /* CONTACT US */
    
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
      }
      
      .contact-section {
        background-color: #6070ff;
        background-image: url(./contact\ form\ shapes-mobile@2x.png);
        background-position-x: right;
        background-repeat: no-repeat;
        background-size: 265px 709.166px;
        border-top-left-radius: 90px;
        margin-top: 20px;
        width: 375px;
        height: 779px;
      }
      
      .contact {
        display: flex;
        flex-direction: column;
        gap: 0;
      }
      
      .contact-title {
        width: 375px;
        flex-shrink: 0;
        text-align: center;
        padding-bottom: 12px;
      }
      
      .contact-title h2 {
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 52px; /* 130% */
        padding-top: 103px;
        color: #fff;
      }
      
      .contact-description {
        text-align: center;
        width: 327px;
        flex-shrink: 0;
        margin: auto;
        padding-bottom: 20px;
      }
      
      .contact-description p {
        color: #ebebff;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
      }
      
      .form-container {
        display: grid;
        grid-template-columns: auto;
        width: 327px;
        margin: auto;
        padding-top: 30px;
      }
      
      textarea {
        height: 150px;
      }
      
      input[type="text"],
      input[type="email"],
      textarea {
        width: 100%;
        padding: 13px;
        margin-bottom: 10px;
        border: 1px solid #cfd8dc;
        background-color: white;
        border-radius: 8px;
        color: #172b4d;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
      }
      
      .submit-button {
        display: inline-flex;
        padding: 12px 16px;
        align-items: center;
        color: #6070ff;
        text-align: center;
        border-radius: 8px;
        background: #ffff;
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.51px;
      }
    }
      
    
    
    /*  DESKTOP VERSION  */
    
    /*DESKTOP HEADER AND HEADLINE SECTION*/
    
    
    @media screen and (min-width: 768px){
    
    .navigation{
    display: inline-flex;
    padding: 16px 143px;
    justify-content: center;
    align-items: flex-start;
    width: 1440px;
    height: 72px;
    gap: 796px;
            }
            
            
    .MyLogo{
    display: flex;
    padding: 10px 12px;
    align-items: center;
    color: var(--primary-b-400, #6070FF);
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 111.111% */
            }
            
    .desktop-nav-list{
    display: flex;
    align-items: center;
    gap: 8px;
            }
            
    .desktop-nav-list ul{
       list-style: none;
     display: flex;
    flex-direction: row;
    gap: 10px;
            }
    
    .desktop-nav-list ul li{
        display: flex;
    padding: 10px 12px;
    align-items: center;
    gap: 10px;
        }
    .desktop-nav-list ul li a{
        text-decoration: none;
    color:  #344563;
    text-align: center;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
            }
    .ham-burger{
        display: none;
        }
    .header-introduction{
        display: inline-flex;
    height: 846px;
    padding: 289px 260px;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
    background-image: url(desktop-background.jpg);
        }
            
    .header-name{
        display: flex;
    width: 920px;
    height: 122px;
    flex-direction: column;
    justify-content: center;
    color: var(--theme-1-neutrals-1, #091E42);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.37px;
            }
    
    .header-detail{
        width: 920px;
    height: 98px;
    color: var(--theme-1-neutrals-3, #344563);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
        }
            
    p{
        color: var(--primary-b-300, #7F8CFF);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    width: 117px;
    height:24px;
        }
    
    .header-socialMediaIcons{
        width: 170.167px;
    height: 20px;
    flex-shrink: 0;
            }
    
    /*  DESKTOP-WORK + ABOUT MYSELF SECTION  */
    
    .Mobile-workCards{
        display: none;
    }
     
    
.Desktop-workCards{
    display: inline-flex;
    padding: 85px;
    flex-direction: column;
    align-items: center;
    gap: 142px;
        }
        
    .card{
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 1156px;
            height: 496px;
            border-radius: 24px;
            border: 1px solid var(--neutrals-n-40, #DFE1E6);
            background: var(--neutrals-n-0, #FFF);
        }
    .snapshoot{
            width: 544px;
        height: 448px;
        padding: 5px;
        flex-shrink: 0;
        border-radius: 8px;
    
        }
    .left-block{
            width: 500px;
            height: 448px;
            display: inline-flex;
        padding: 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    
        }
    .primarytext{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
        }
    .heading{
            width: 496px;
            height: 46px;
            color: var(--theme-1-neutrals-1, #091E42);
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: 52px;
        }
    .list{
            display: flex;
            align-items: center;
            gap: 12px;
        }
    #l1{
            display: flex;
    padding: 8px 0px;
    align-items: center;
    color: var(--theme-1-neutrals-3, #344563);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
        }
    #l2{
        display: flex;
        align-items: center;
        gap: 12px;
        
        }
    #l3{
            display: flex;
    padding: 8px 0px;
    align-items: center;
    color: var(--theme-1-neutrals-6, #6B778C);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
        }
        
    .work-description{
            width: 496px;
            height: 50px;
            color: var(--neutrals-n-600, #344563);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
        }
    .work-language{
            display: flex;
        align-items: center;
        gap: 8px;
        }
    .work-lang{
            display: flex;
        padding: 4px 12px;
        align-items: center;
        border-radius: 8px;
        background: var(--primary-b-50, #EBEBFF);
        color: var(--primary-b-400, #6070FF);
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0.36px;
        }
    .outerbutton{
            display: flex;
    width: 496px;
    height: 153px;
    padding: 16px 370px 89px 0px;
    align-items: center;
        }
    .button{
            display: flex;
            padding: 12px;
            align-items: center;
            gap: 10px;
            border-radius: 8px;
    border: 1px solid var(--primary-b-400, #6070FF);
    color: var(--primary-b-500, #396DF2);
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.51px;
        }
    
    
    /* DESKTOP ABOUT MYSELF */
    
    .aboutMyself{
        width: 1440px;
    height: 924px;
    flex-shrink: 0;
    fill: var(--neutrals-n-0, #FFF);
    }
    .abtMySelf{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 1440px;
    height: 924px;
    flex-shrink: 0;
    }
    .top{
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }
    .about-heading{
        display: flex;
        width: 447px;
        height: 33px;
        flex-direction: column;
        justify-content: center;
        color: var(--theme-1-neutrals-1, #091E42);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px; /* 130% */
    }
    .about-description{
        width: 447px;
        height: 102px;
        color: var(--neutrals-n-600, #344563);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    }
    .about-connection{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }
    .about-connect{
        color: var(--primary-b-300, #7F8CFF);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    }
    .about-button{
        display: flex;
    padding: 12px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--primary-b-400, #6070FF);
    color: var(--primary-b-500, #396DF2);
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.51px;
    }
    .about-languages{
        display: flex;
    padding: 16px 26px 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    }
    .word{
        width: 582px;
        color: var(--theme-1-neutrals-3, #344563);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    }
    .languageList{
        display: flex;
        flex-direction: row;
        padding: 12px;
        align-items: center;
        gap: 12px;
    }
    .about-lang{
        display: flex;
    width: 122px;
    padding: 12px 12px 20px 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 8px;
    background: var(--neutrals-n-10, #F7F7F9);    
    }
    .icon{
        width: 48px;
    height: 48px;
    border-radius: 48px;
    border: 1px solid var(--neutrals-n-0, #FFF);
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    }
    .names{
        display: flex;
    width: 98px;
    height: 24px;
    flex-direction: column;
    justify-content: center;
    color: var(--neutrals-n-700, #253858);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    }
    .otherOptions{
        width: 684px;
    height: 72px;
    }
    .words{
        width: 582px;
        color: var(--theme-1-neutrals-3, #344563);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    }
    
    
    /* DESKTOP CONTACT US */

    .contact-section{
        display: none;
    }
    
    .footer_section {
        width: 1440px;
        height: 846px;
        flex-shrink: 0;
        background-color: #6070FF;
        background-image: url(./contact\ form\ background\ shapes@2x.png);
        background-repeat: no-repeat;
        background-position: cover;
        background-size: 1400px 846px;
        border-top-left-radius: 100px;
        margin-top: -200px;
      }
    
      .contact_form_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
        padding: 250px 319px 127px 320px;
        width: 810px;
        height: 577px;
        margin-left: 250px;
      }
    
      .container_content {
        display: flex;
        width: 801px;
        height: 577px;
        flex-direction: column;
        justify-content: center;
      }
    
      .footid {
        color: #FFF;
        text-align: center;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 52px;
      }
    
      .footpara {
        width: 569px;
        height: 102px;
        color: #EBEBFF;
        text-align: center;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        margin-left: 120px;
      }
    
      form {
        width: 400px;
        flex-shrink: 0;
        border-radius: 2px;
        position: relative;
        top: 35px;
        left: 150px;
      }
    
      #input1 {
        display: flex;
        flex-direction: column;
        position: relative;
        left: 13px;
        margin: 27px;
        width: 447px;
      }
    
      #input2 {
        display: flex;
        flex-direction: column;
        position: relative;
        left: 13px;
        margin: 27px;
        width: 447px;
      }
    
      textarea {
        width: 447px;
        height: 170px;
        flex-shrink: 0;
        border-radius: 2px;
        border: 1px solid #CFD8DC;
        background: #FFF;
        position: relative;
        top: 35px;
        left: 40px;
      }
    
      #button{
        display: flex;
        padding: 12px 16px;
        align-items: center;
        border-radius: 8px;
        background: #FFF;
        position: relative;
        top: 80px;
        color: #6070FF;
        text-align: center;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.51px;
      }
    
}